$primary-text-color: #000000;
$primary: #c0392b;

@import url("https://fonts.cdnfonts.com/css/bebas-neue");
@import "../../node_modules/bootstrap/scss/bootstrap";

* {
    margin: 0;
    padding: 0;
    font-family: "Bebas Neue", sans-serif;
}

.nav-item {
    @include media-breakpoint-down(lg) {
        border-bottom: 1px solid rgb(231, 231, 231);
    }
    &:nth-of-type(4) {
        @include media-breakpoint-down(lg) {
            border: none;
        }
    }
}

.navbar {
    background-color: #ffffff;
    @include media-breakpoint-down(sm) {
        position: fixed;
        top: 0;
        width: 100%;
        z-index: 999999;
    }
}
.nav-link {
    font-size: 1.5rem;
    font-weight: 700;
    color: $primary-text-color;
    letter-spacing: 1px;
    transition: color 0.1s linear;
    &:hover {
        color: $primary;
    }
}

.navbar-toggler {
    border: none;
    background-image: url(../assets/icon_burger.png);
    color: transparent;
}

#navbarSupportedContent {
    @include media-breakpoint-up(lg) {
        display: none !important;
    }
}

.icon {
    width: 40px;
    height: 40px;
    background-position: center;
    background-size: 98%;
    background-repeat: no-repeat;
    transition: background-image 0.1s linear;

    @include media-breakpoint-down(lg) {
        width: 50px;
        height: 50px;
    }

    &_search {
        background-image: url(../assets/icon_search.png);
        &-hovered {
            background-image: url(../assets/icon_search-hovered.png);
        }
    }

    &_vk {
        background-image: url(../assets/icon_vk.png);

        &-hovered {
            background-image: url(../assets/icon_vk-hovered.png);
        }
    }
    &_facebook {
        background-image: url(../assets/icon_facebook.png);

        &-hovered {
            background-image: url(../assets/icon_facebook-hovered.png);
        }
    }
    &_instagram {
        background-image: url(../assets/icon_instagram.png);

        &-hovered {
            background-image: url(../assets/icon_instagram-hovered.png);
        }
    }

    &_burger {
        background-image: url(../assets/icon_burger.png);
    }
}

.social-media {
    margin-left: 30px;
    margin-bottom: 0;

    @include media-breakpoint-down(xl) {
        margin-left: 15px;
    }
    &__link {
        width: 40px;
        margin-left: 30px;

        @include media-breakpoint-down(xl) {
            margin-left: 15px;
        }
    }
}

.carousel {
    position: relative;
    @include media-breakpoint-down(sm) {
        padding-top: 41px;
    }
    &__photo {
        max-height: calc(100vh - 81px);
        object-fit: cover;
        z-index: -1;

        @media (max-width: 1060px) {
            min-height: calc(100vh - 82px);
        }

        @include media-breakpoint-up(sm) {
            min-height: calc(100vh - 81px);
        }
    }

    &__buttons {
        position: absolute;
        z-index: 100;
        top: calc(100% - 100px);
        left: calc(50% - 70px);
        width: 140px;
    }

    &__button {
        width: 50px;
        height: 50px;
        font-size: 2rem;
        border-radius: 50%;
        color: $primary-text-color;
        background-color: #ffffff;
        opacity: 1 !important;
        transition:
            color,
            background-color 0.2s linear;

        &:hover {
            color: #ffffff !important;
            background-color: $primary;
            opacity: 1;
        }

        &:focus {
            color: $primary-text-color;
        }
    }
}

.header__text {
    color: #ffffff;
    letter-spacing: 5px;
    position: absolute;
    font-weight: 700;
    font-size: 3.75rem;
    line-height: 60px;
    text-align: end;
    right: 10%;
    bottom: 50px;
    text-shadow: 2px 2px 4px #000000;

    @include media-breakpoint-down(lg) {
        transform: scale(0.65);
        right: -5%;
        bottom: 100px;
    }

    @include media-breakpoint-down(sm) {
        transform: scale(1);
        font-size: 2rem;
        line-height: 2rem;
        letter-spacing: 3px;
        bottom: 120px;
        right: 5%;
    }
}

.button {
    border: 2px solid $primary;
    letter-spacing: 3px;
    font-size: 1.5rem;
    font-weight: 600;
    line-height: 3.125rem;
    border-radius: 10px;
    transition: all 0.2s linear;

    &:hover {
        color: $primary;
        background-color: #ffffff;
    }

    @include media-breakpoint-down(sm) {
        line-height: 2rem;
        font-size: 1rem;
        letter-spacing: 2px;
    }
}

.header__details {
    background-color: #ffffff;
    border: none;

    &:hover {
        color: #ffffff;
        background-color: $primary;
    }
}

.portfolio {
    min-height: 100vh;

    &__images {
        display: grid;
        grid-template-columns: repeat(4, minmax(100px, 292px));
        justify-content: center;
        align-content: center;

        @include media-breakpoint-down(md) {
            grid-template-columns: repeat(2, minmax(100px, 292px));
        }
    }
}

.heading__text {
    font-size: 2.25rem;
    font-weight: 600;
    letter-spacing: 3px;
}

.rotated {
    transform: rotate(180deg);
}

.image__container {
    width: fit-content;
    position: relative;
    font-weight: 700;

    img {
        width: 100%;
    }
}

.shutter {
    opacity: 0;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgba($color: #000000, $alpha: 0.6);
    color: #ffffff;
    font-size: 2rem;
    transition: opacity 0.2s ease-in-out;

    &:hover {
        opacity: 1;
    }

    &__text {
        margin-top: 25%;
        margin-bottom: 0;

        @include media-breakpoint-down(xl) {
            font-size: 1.5rem;
        }
    }

    &__button {
        line-height: 2rem;
        font-size: 1.25rem;
        letter-spacing: 2px;
        font-weight: 700;
        border: 2px solid #ffffff;
    }
}

.services {
    min-height: 100vh;
    background-image: url(../assets/services__background.jpg);
    background-size: cover;
    background-position: center;
    padding-bottom: 100px;

    &__block {
        transition: transform 0.1s linear;
        &:hover {
            transform: scale(1.2);
        }

        @include media-breakpoint-down(sm) {
            transform: scale(0.8);
        }
    }

    &__images {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(auto-fit, 1fr);
        row-gap: 150px;

        @include media-breakpoint-down(lg) {
            row-gap: 100px;
        }

        @include media-breakpoint-down(md) {
            grid-template-columns: repeat(2, minmax(100px, 1fr));
        }
    }

    &__text {
        font-weight: 700;
        font-size: 2rem;
        letter-spacing: 2px;

        @include media-breakpoint-down(md) {
            font-size: 1.5rem;
        }
    }

    .image__container {
        margin-bottom: 15px;
        margin-left: calc(50% - 64px);

        @include media-breakpoint-down(sm) {
            margin-left: calc(50% - 67px);
        }
    }
}
