$primary-text-color: #000000;
$secondary-text-color: #c0392b;

@import url("https://fonts.cdnfonts.com/css/bebas-neue");
@import "../../node_modules/bootstrap/scss/bootstrap";

* {
    margin: 0;
    padding: 0;
    font-family: "Bebas Neue", sans-serif;
}

.nav-item {
    @include media-breakpoint-down(lg) {
        border-bottom: 1px solid rgb(231, 231, 231);
    }
    &:nth-of-type(4) {
        @include media-breakpoint-down(lg) {
            border: none;
        }
    }
}

.navbar {
    background-color: #ffffff;
    @include media-breakpoint-down(sm) {
        position: fixed;
        top: 0;
        width: 100%;
        z-index: 999999;
    }
}
.nav-link {
    font-size: 1.5rem;
    font-weight: 700;
    color: $primary-text-color;
    letter-spacing: 1px;
    transition: color 0.1s linear;
    &:hover {
        color: $secondary-text-color;
    }
}

.navbar-toggler {
    border: none;
    background-image: url(../assets/icon_burger.png);
    color: transparent;
}

#navbarSupportedContent {
    @include media-breakpoint-up(lg) {
        display: none !important;
    }
}

.icon {
    width: 40px;
    height: 40px;
    background-position: center;
    background-size: 98%;
    background-repeat: no-repeat;
    transition: background-image 0.1s linear;

    @include media-breakpoint-down(lg) {
        width: 50px;
        height: 50px;
    }

    &_search {
        background-image: url(../assets/icon_search.png);
        &-hovered {
            background-image: url(../assets/icon_search-hovered.png);
        }
    }

    &_vk {
        background-image: url(../assets/icon_vk.png);

        &-hovered {
            background-image: url(../assets/icon_vk-hovered.png);
        }
    }
    &_facebook {
        background-image: url(../assets/icon_facebook.png);

        &-hovered {
            background-image: url(../assets/icon_facebook-hovered.png);
        }
    }
    &_instagram {
        background-image: url(../assets/icon_instagram.png);

        &-hovered {
            background-image: url(../assets/icon_instagram-hovered.png);
        }
    }

    &_burger {
        background-image: url(../assets/icon_burger.png);
    }
}

.social-media {
    margin-left: 30px;
    margin-bottom: 0;
    &__link {
        width: 40px;
        margin-left: 30px;
    }
}

.carousel {
    position: relative;
    @include media-breakpoint-down(sm) {
        padding-top: 41px;
    }
    &__photo {
        max-height: calc(100vh - 81px);
        object-fit: cover;
        z-index: -1;

        @media (max-width: 1060px) {
            min-height: calc(100vh - 82px);
        }

        @include media-breakpoint-up(sm) {
            min-height: calc(100vh - 81px);
        }
    }

    &__buttons {
        position: absolute;
        z-index: 100;
        top: calc(100% - 100px);
        left: calc(50% - 70px);
        width: 140px;
    }

    &__button {
        width: 50px;
        height: 50px;
        font-size: 2rem;
        border-radius: 50%;
        color: $primary-text-color;
        background-color: #ffffff;
        opacity: 1 !important;
        transition:
            color,
            background-color 0.2s linear;

        &:hover {
            color: #ffffff !important;
            background-color: $secondary-text-color;
            opacity: 1;
        }

        &:focus {
            color: $primary-text-color;
        }
    }
}

.header__text {
    color: #ffffff;
    letter-spacing: 5px;
    position: absolute;
    font-weight: 700;
    font-size: 3.75rem;
    line-height: 60px;
    text-align: end;
    right: 10%;
    bottom: 50px;
    text-shadow: 2px 2px 4px #000000;

    @include media-breakpoint-down(lg) {
        transform: scale(0.65);
        right: -5%;
        bottom: 100px;
    }

    @include media-breakpoint-down(sm) {
        transform: scale(1);
        font-size: 2rem;
        line-height: 2rem;
        letter-spacing: 3px;
        bottom: 120px;
        right: 5%;
    }
}

.header__button {
    color: $secondary-text-color;
    background-color: #ffffff;
    border: none;
    letter-spacing: 5px;
    font-size: 1.5rem;
    font-weight: 600;
    line-height: 3.125rem;
    border-radius: 10px;
    transition: all 0.2s linear;

    &:hover {
        color: #ffffff;
        background-color: $secondary-text-color;
    }

    @include media-breakpoint-down(sm) {
        line-height: 2rem;
        font-size: 1rem;
        letter-spacing: 2px;
    }
}
